@charset "UTF-8";
@font-face {
  font-family: Rubik-Medium;
  src: url(../assets/Font/RUBIK-MEDIUM.TTF);
  font-display: swap;
}
@font-face {
  font-family: Rubik-Black;
  src: url(../assets/Font/RUBIK-BLACK.TTF);
  font-display: swap;
}
@font-face {
  font-family: Rubik-Bold;
  src: url(../assets/Font/RUBIK-BOLD.TTF);
  font-display: swap;
}
@font-face {
  font-family: Rubik-Light;
  src: url(../assets/Font/RUBIK-LIGHT.TTF);
  font-display: swap;
}
@font-face {
  font-family: Rubik-Regular;
  src: url(../assets/Font/RUBIK-REGULAR.TTF);
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 85px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1000;
}
.navbar .navbar-brand:hover {
  background-color: #3464cc;
  border-radius: 3px;
}
.navbar #collapsibleNavbar {
  justify-content: end;
  background-color: black;
}
.navbar li {
  text-align: center;
}
.navbar .nav-link {
  color: white;
  text-transform: uppercase;
  font-family: Rubik-Medium;
  font-size: 14px;
}
.navbar .nav-link:hover {
  background-color: #3464cc;
  color: white;
  border-radius: 3px;
}
.navbar .nav-icon {
  padding: 5px;
}
.navbar .nav-icon:hover {
  background-color: #3464cc;
  color: white;
  border-radius: 3px;
}

.home {
  background-image: url(../assets/imagenes/Galería/home.avif);
  background-size: cover;
  background-position: center;
  height: 540px;
  width: 100%;
}
.home .texto {
  padding-top: 200px;
}
.home p {
  text-align: center;
  font-family: Rubik-Bold;
  font-size: 25px;
  text-shadow: 0 0 3px black;
  text-transform: uppercase;
}

#contacto {
  padding: 40px;
}
#contacto h2 {
  color: black;
  font-family: Rubik-Bold;
  font-size: 20px;
  text-transform: initial;
  padding-left: 20px;
  margin-bottom: 0;
}
#contacto .formulario {
  font-family: Rubik-Regular;
  font-size: 16px;
  padding: 20px;
}
#contacto .formulario .btn-link {
  background-color: #3464cc;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  text-shadow: 0 0 2px black;
  border: solid 1px black;
  font-family: Rubik-Bold;
}
#contacto .formulario .btn-link:hover {
  color: black;
  text-shadow: none;
  border: solid 1px black;
}
#contacto .mapa {
  padding: 20px;
}
#contacto .mapa h3 {
  font-family: Rubik-Regular;
  font-size: 16px;
  text-transform: capitalize;
}
#contacto .mapa h4 {
  font-family: Rubik-Light;
  text-transform: capitalize;
  font-size: 16px;
}
#contacto .mapa .map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
#contacto .mapa .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

footer {
  padding-top: 30px;
}
footer .logofooter {
  width: 150px;
  height: 40px;
}
footer .logofooter:hover {
  background-color: #3464cc;
}
footer .navfooter {
  list-style: none;
  margin-top: 10px;
  padding: 0px;
}
footer .btn:hover {
  background-color: #3464cc;
  border-radius: 3px;
}

main .sesiones {
  background-color: black;
  padding: 60px 160px 60px 160px;
  border-top: solid 2px #3464cc;
  align-self: center;
}
@media only screen and (max-width: 480px) {
  main .sesiones {
    padding: 40px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 900px) {
  main .sesiones {
    padding: 50px;
  }
}
@media only screen and (max-width: 768px) {
  main .sesiones .textosesiones img {
    padding-top: 20px;
    width: 60%;
  }
}
@media only screen and (min-width: 1023px) {
  main .sesiones .fotosesiones {
    padding-right: 50px;
  }
}
main .sesiones h3 {
  color: white;
  font-family: Rubik-Medium;
  font-size: 16px;
  margin-top: 30px;
  text-align: justify;
}
main .sesiones .btn {
  padding-left: 0px;
  padding-bottom: 40px;
}

.actividades {
  padding: 50px 90px 50px 90px;
}
@media only screen and (max-width: 480px) {
  .actividades {
    padding: 20px 30px 20px 30px;
  }
}
.actividades .textoactividades {
  align-self: center;
}
.actividades .textoactividades img {
  padding-top: 20px;
}
@media only screen and (max-width: 480px) {
  .actividades .textoactividades img {
    width: 80%;
  }
}
.actividades .textoactividades h3 {
  font-family: Rubik-Medium;
  font-size: 16px;
  margin-top: 30px;
  text-align: justify;
}
.actividades .fotopulmonabierto {
  padding-top: 30px;
}
.actividades .textotalleres {
  align-self: center;
}
.actividades .textotalleres h2 {
  font-family: Rubik-Bold;
  font-size: 20px;
  padding-top: 20px;
}
.actividades .textotalleres h3 {
  font-family: Rubik-Medium;
  font-size: 16px;
  margin-top: 30px;
  text-align: justify;
}
.actividades .textotalleres .btn {
  margin-top: 20px;
  border: solid 2px #3464cc;
}
.actividades .fototaller {
  padding-top: 30px;
}
.actividades .textosismolab {
  align-self: center;
}
.actividades .textosismolab h2 {
  font-family: Rubik-Bold;
  font-size: 20px;
  padding-top: 20px;
}
.actividades .textosismolab h3 {
  font-family: Rubik-Medium;
  font-size: 16px;
  margin-top: 30px;
  text-align: justify;
}
.actividades .textosismolab .btn {
  margin-top: 20px;
  border: solid 2px #3464cc;
}
.actividades .fotosismolab {
  padding-top: 30px;
}

@media only screen and (min-width: 1024px) {
  .carousel-item {
    padding: 40px 130px 40px 130px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-item {
    padding: 40px 100px 40px 100px;
    width: 100%;
  }
}

.galeria {
  background-color: #5a5858;
}

.artistas {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 200px);
  padding: 90px;
  grid-gap: 25px;
  font-size: 18px;
  font-family: Rubik-Medium;
  color: white;
  text-shadow: 0 0 10px black;
  text-align: center;
}
.artistas .img {
  background-color: #3464cc;
  border: 2px solid black;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}
.artistas .img:hover {
  transform: scale(1.05);
  transition: all 0.9s;
  filter: grayscale(0%);
}
.artistas .img1 {
  background-image: url(../assets/imagenes/Galería/artistas/Fotos-Web_LV-chico_1.avif);
}
.artistas .img2 {
  background-image: url(../assets/imagenes/Galería/artistas/Fotos-Web_NoSoyJulix-chico.avif);
}
.artistas .img3 {
  background-image: url(../assets/imagenes/Galería/artistas/Fotos-Web_Ren-grande.avif);
}
.artistas .img4 {
  background-image: url(../assets/imagenes/Galería/artistas/Fotos\ Web_Jerre\ chico.png);
}
.artistas .img5 {
  background-image: url(../assets/imagenes/Galería/artistas/Fotos-Web_Guazuncho-chico.avif);
}
.artistas .img6 {
  background-image: url(../assets/imagenes/Galería/artistas/Fotos-Web_Ulmo-Chico.avif);
}
.artistas .img7 {
  background-image: url(../assets/imagenes/Galería/artistas/Fotos-Web_Bardo-grande.avif);
}
.artistas .img8 {
  background-image: url(../assets/imagenes/Galería/artistas/Fotos-Web_Susceptibles-chico.avif);
}
@media only screen and (min-width: 480px) {
  .artistas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .artistas {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .artistas {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
}/*# sourceMappingURL=style.css.map */